.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dfdfe0;
  margin-bottom: 1.5rem;
}
.logoContainer {
  display: flex;
}
.tabName {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #000000;
}
.textHighlight {
  color: #b072ff !important;
}
